* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.principal{
border: solid 3px blue;
}
.tips{
  border: solid 4px firebrick;

}
.razones{
  border: solid 4px blue
}
.info{
  border: solid 4px blue
}
.rrss{
  border: solid 4px blue
}
.copy{
  border: solid 4px yellow;
}