* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
:root {
  --font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container {
  background-image: url("../images/cover.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hamburguesa {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 30px;
  background-color: #0271bc;
  padding: 0.5rem;
}
.scroll {
  background-color: #eff9ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.principal {
  font-family: var(--font-family);
  color: white;
  font-size: 2.95rem;
  text-align: center;
  margin-bottom: 1rem;
}
.arriba {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tips {
  font-family: var(font-family);
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 15px;
}
.insomnia {
  color: #8ccbea;
  text-align: left;
  font-size: 1rem;
  padding-top: 1.5rem;
}
.ventana {
  font-family: var(--font-family);
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.info {
  color: #4a4a4a;
  font-size: 1.25rem;
}
.ir {
  display: block;
  padding-block: 0.5rem;
  padding-inline: 1.4rem;
  font-size: 1rem;
  color: #f26002;
  border: solid #f26002;
  border-radius: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.razones {
  background-color: #eff9ff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.compra {
  margin-top: 2rem;
  text-align: center;
  font-family: var(--font-family);
  text-align: center;
  font-size: 1.5rem;
}
.uno {
  font-family: var(--font-family);
  font-size: 1.125rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  padding-top: 1.6rem;
}
.dos {
  font-family: var(--font-family);
  font-size: 1.125rem;
  padding-left: 6rem;
  padding-right: 6rem;
  text-align: center;
  padding-top: 1.6rem;
}
.tres {
  font-family: var(--font-family);
  font-size: 1.125rem;
  padding-left: 6rem;
  padding-right: 6rem;
  text-align: center;
  padding-top: 1.6rem;
}

.mas {
  display: block;
  background-color: #f26002;
  padding-block: 0.9rem;
  padding-inline: 4rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 2rem;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pie {
  background-color: #304268;
  display: flex;
  flex-direction: column;
}

.flecha_dos {
  width: 18px;
  height: 18px;
}
.flecha_arriba {
  background-color: #eff9ff;
  border-radius: 50%;
  width: 50px;
  height: 30px;
  position: relative;
  transform: translate(0, -200%);
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.menu_lista {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.rrss {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
.menu_rrss {
  color: white;
  text-decoration: none;
}
.copy {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
}
.copy_lista {
  list-style: none;
  text-align: center;
}
@media (width > 480px) {
  .tips {
    margin-left: 2.48rem;
    margin-right: 2.48rem;
  }
  .principal {
    font-family: var(--font-family);
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .arriba {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    text-align: center;
  }
  .info {
    color: #4a4a4a;
    font-size: 1.4rem;
  }
  .razones {
    background-color: #eff9ff;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .compra {
    grid-column: 1 / 4;
  }
  .uno {
    grid-column: 1 / 2;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .dos {
    grid-column: 2 / 3;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .tres {
    grid-column: 3 / 4;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .mas {
    grid-column: 2 / 3;
    display: block;
    background-color: #f26002;
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    border-radius: 3rem;
    margin-top: 1.3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .flecha_arriba {
    position: relative;
    transform: translate(1150%, -150%);
    margin-bottom: 1rem;
  }
  .pie {
    background-color: #304268;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .lista {
    order: 2;
    margin-top: 0;
    padding-top: 3rem;
    width: 25%;
    align-items: flex-start;
    justify-content: left;
    margin-right: 8rem;
  }
  .rrss {
    order: 3;
    margin-top: 0;
    padding-top: 3rem;
    width: 30%;
    align-items: flex-start;
    justify-content: left;
    margin-right: 5rem;
  }

  .copy {
    order: 1;
    padding-top: 0;
    padding-top: 3rem;
    align-items: flex-start;
    justify-content: left;
    width: 35%;
    margin-right: 5rem;
  }
}

@media (width > 1024px) {
  .razones {
    background-color: #eff9ff;
    height: auto;
    display: grid;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .compra {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: var(--font-family);
    text-align: center;
    font-size: 1.8rem;
  }
  .mas {
    grid-column: 2 / 3;
    display: block;
    background-color: #f26002;
    padding-block: 1rem;
    padding-inline: 1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    border-radius: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .principal {
    font-family: var(--font-family);
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-right: 20rem;
    padding-left: 20rem;
    width: 100wv;
  }
  .tips {
    margin-left: 18rem;
    margin-right: 18rem;
  }
  .ir {
    display: block;
    padding-block: 0.5rem;
    padding-inline: 4rem;
    font-size: 1rem;
    color: #f26002;
    border: solid #f26002;
    border-radius: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .uno {
    grid-column: 1 / 2;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    padding: 1rem;
  }
  .flecha_arriba {
    grid-column: 2 / 3;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
    transform: translate(100%, -100%);
    margin-bottom: 1rem;
  }
  .lista {
    grid-column: 2;
    text-align: left;
    padding-right: 1rem;
  }
  .rrss {
    grid-column: 3;
    text-align: left;
    padding-left: 0.5rem;
  }

  .copy {
    order: 1;
    grid-column: 1;
    text-align: left;
    align-items: end;
    justify-items: end;
    padding-left: 3rem;
  }
}
